.paginationWrapper {
  margin: 40px 0;
  padding-right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.currentPageLink,
.nextLink,
.prevLink {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.currentPage,
.nextPage,
.prevPage {
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  cursor: pointer;

  &:hover {
    background-color: #e6e6e6;
  }
}

.activePage {
  color: #fff;
  background-color: #2979ff;

  &:hover {
    background-color: #1c54b2;
  }
}

.disabled {
  cursor: default;
  background-color: #e6e6e6;
}
