.search {
  margin: 10px 0 !important;
  max-width: 20%;
}

// -- Media querys
@media screen and (max-width: 420px), screen and (max-height: 390px)  {
  .search {
      margin: 10px 0 !important;
      max-width: 80%;
    }
}