@media screen and (max-width: 420px), screen and (max-height: 390px)  {
    .logo {
    font-size: 10px;
    line-height: 1.5;
    }
  
      
    .buttons {
      box-sizing: border-box;
      display: flex;
      button, span{
        margin-left: 5px;
        font-size: 11px;
        line-height: 1.5;
      }
    }
  
    .profileName {
      line-height: 1.5;
    }
}