.root {
  background-color: #fff;
  padding: 10px 0;
  margin-bottom: 30px;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #000;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.15px;
  border-radius: 5px;
  padding: 0 10px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: rgb(247, 247, 247);
  }
}

.buttons {
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
  }
}

@import './Header.media.module.scss';
