body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5 !important;
}

@mixin pageWrapper {
  min-height: calc(100vh - 57px - 61px);
  padding: 30px 0;

  @media (max-width: 768px) {
    min-height: calc(100vh - 49px - 58px);
  }
}
